Data Bass "bass.dll"
Data DX8 "D3DX81ab.dll"
Mir2 EXEFILE Mir2.exe
Data DscStart0 "DscStart0.uib"
Data DscStart1 "DscStart1.uib"
Data soundlst "sound2.lst"
Data gcbkd "gcbkd.uib"
Data gcpage1 "gcpage1.uib"
Data gcpage2 "gcpage2.uib"
Data gcclose1 "gcclose1.uib"
Data gcclose2 "gcclose2.uib"
Data gccheckbox1 "gccheckbox1.uib"
Data gccheckbox2 "gccheckbox2.uib"
Data WStall "WStall.uib"
Data WStallPrice "WStallPrice.uib"
Data PStallPrice0 "PStallPrice0.uib"
Data PStallPrice1 "PStallPrice1.uib"
Data StallBot0 "StallBot0.uib"
Data StallBot1 "StallBot1.uib"
Data StallLooks7 "StallLooks7.uib"
Data StallLooks8 "StallLooks8.uib"
Data StallLooks9 "StallLooks9.uib"
Data StallLooks10 "StallLooks10.uib"
Data StallLooks11 "StallLooks11.uib"
Data StallLooks12 "StallLooks12.uib"
Data StallLooks13 "StallLooks13.uib"
Data StallLooks14 "StallLooks14.uib"
Data StallLooks15 "StallLooks15.uib"
Data StallLooks16 "StallLooks16.uib"
Data StallLooks17 "StallLooks17.uib"
Data StallLooks18 "StallLooks18.uib"
Data logo "logo.uib"
Data chenghao "chenghao.uib"