#include "..\sstrings.pas"
LANGUAGE LANG_FRENCH,10
STRINGTABLE
{
  s_MsgDlgWarning, "Attention"
  s_MsgDlgError, "Erreur"
  s_MsgDlgInformation, "Information"
  s_MsgDlgConfirm, "Confirmation"
  s_MsgDlgYes, "&Oui"
  s_MsgDlgNo, "&Non"
  s_MsgDlgOK, "Ok"
  s_MsgDlgCancel, "Annuler"
  s_MsgDlgHelp, "&Aide"
  s_MsgDlgHelpNone, "Pas d'aide"
  s_MsgDlgHelpHelp, "Aide"
  s_MsgDlgAbort, "&Abandonner"
  s_MsgDlgRetry, "&Reessayer"
  s_MsgDlgIgnore, "&Ignorer"
  s_MsgDlgAll, "&Tous"
  s_MsgDlgNoToAll, "N&on à tous"
  s_MsgDlgYesToAll, "Oui à &tous"

  s_RestoreStr, "Restaurer"
  s_MoveStr, "Déplacer"
  s_SizeStr, "Taille"
  s_MinimizeStr, "Minimiser"
  s_MaximizeStr, "Maximiser"
  s_CloseStr, "Fermer"

  s_HintClose, "Fermer"
  s_HintMaximize, "Maximiser"
  s_HintMinimize, "Minimiser"
  s_HintRestore, "Restaurer"
  s_HintHelp, "Aide"

  s_FileOpen, "Ouvrir fichier"

  s_Calculator, "Calculer"
  s_GradBuilder, "&Éditeur de dégradé..."
  s_HotGradBuilder, "&Hot gradient builder..."
  s_Panels, "&Panneaux..."

  s_AvailSkins, "skins disponibles"
  s_InternalSkin, "(Interne)"

  s_ErrorSettingCount, "Error setting %s.Count"
  s_ListBoxMustBeVirtual, "Listbox (%s) style must be virtual in order to set Count"

  // Color dialog
  s_ColorDlgAdd, "Add to custom colors set"
  s_ColorDlgDefine, "Define colors"
  s_ColorDlgMainPal, "Main palette :"
  s_ColorDlgAddPal, "Additional colors :"
  s_ColorDlgTitle, "Color"
  s_ColorDlgRed, "Red :"
  s_ColorDlgGreen, "Green :"
  s_ColorDlgBlue, "Blue :"
  s_ColorDlgDecimal, "Decimal - "
  s_ColorDlgHex, "Hex - "  
  
  // Frame adapter
  s_FrameAdapterError1, "TsFrameAdapter adapter must be placed on the handled frame";

  // Hint designer
  s_HintDsgnTitle, "Hint Designer Form"
  s_HintDsgnPreserved, "Preserved settings :"
  s_HintDsgnStyle, "Style :"
  s_HintDsgnBevelWidth, "Bevel width"
  s_Blur, "Blur"
  s_HintDsgnArrowLength, "Arrow length"
  s_HintDsgnHorizMargin, "Horiz. margin"
  s_HintDsgnVertMargin, "Vert. margin"
  s_HintDsgnRadius, "Corners radius"
  s_HintDsgnMaxWidth, "Max width"
  s_HintDsgnPauseHide, "Pause hide (ms)"
  s_Percent, "Percent"
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparency"
  s_HintDsgnNoPicture, "No picture available"
  s_Font, "Font"
  s_Texture, "Texture"
  s_HintDsgnLoad, "Load from file"
  s_HintDsgnSave, "Save to file as..."
  s_HintDsgnColor, "Color"
  s_HintDsgnBorderTop, "Top border"
  s_HintDsgnBorderBottom, "Bottom border"
  s_Shadow, "Shadow"
  s_Background, "Background"
  s_Gradient, "Gradient"
  s_PreviewHint, "Preview of the future hint window"

  // File dialogs
  s_Folder, "Dossier"
  s_FileName, "Nom du fichier"
  s_FileType, "Type de fichier"
  s_ReadOnly, "Lecture seul"
  s_ViewStyleList, "Liste"
  s_ViewStyleReport, "Détails"
  s_ViewStyleIcons, "Icônes"
  s_ViewStyleSmallIcons, "Petites Icônes"
  s_OpenFile, "Ouvrir"
  s_SaveFile, "Sauvegarder"
  s_BtnOpen, "Ouvrir"
  s_BtnSave, "Sauvegarder"
  s_SelectDir, "Sélectionner un dossier"
  s_Create, "Créer"


}
