#include "..\sstrings.pas"
LANGUAGE LANG_ITALIAN,SUBLANG_NEUTRAL
STRINGTABLE
{
  s_MsgDlgWarning, "Attenzione"
  s_MsgDlgError, "Errore"
  s_MsgDlgInformation, "Informazione"
  s_MsgDlgConfirm, "Conferma"
  s_MsgDlgYes, "&Si"
  s_MsgDlgNo, "&No"
  s_MsgDlgOK, "OK"
  s_MsgDlgCancel, "Cancella"
  s_MsgDlgHelp, "&Aiuto"
  s_MsgDlgHelpNone, "Aiuto non disponibile"
  s_MsgDlgHelpHelp, "Aiuto"
  s_MsgDlgAbort, "&Annulla"
  s_MsgDlgRetry, "&Riprova"
  s_MsgDlgIgnore, "&Ignora"
  s_MsgDlgAll, "&Tutto"
  s_MsgDlgNoToAll, "N&o a Tutto"
  s_MsgDlgYesToAll, "Si a &Tutto"

  s_RestoreStr, "Ripristina"
  s_MoveStr, "Sposta"
  s_SizeStr, "Dimensione"
  s_MinimizeStr, "Minimizza"
  s_MaximizeStr, "Massimizza"
  s_CloseStr, "Chiudi"

  s_HintClose, "Chiudi"
  s_HintMaximize, "Massimizza"
  s_HintMinimize, "Minimizza"
  s_HintRestore, "Ripristina"
  s_HintHelp, "Aiuto"

  s_FileOpen, "Apri archivo"

  s_Calculator, "Calcolatrice"
  s_GradBuilder, "&Generatore di contrasto..."
  s_HotGradBuilder, "Generatore di contrasto &Hot..."
  s_Panels, "&Pannelli..."

  s_AvailSkins, "Skins disponibili"
  s_InternalSkin, "(interno)"

  s_ErrorSettingCount, "Errore settaggio %s.Count"
  s_ListBoxMustBeVirtual, "Lo stile del Listbox (%s) deve essere virtuale per assegnare il contatore"

  // Color dialog
  s_ColorDlgAdd, "Aggiungi ai colori personalizzati"
  s_ColorDlgDefine, "Definisci i colori"
  s_ColorDlgMainPal, "Tavolozza principale :"
  s_ColorDlgAddPal, "Colori Addizionali :"
  s_ColorDlgTitle, "Colori"
  s_ColorDlgRed, "Rosso :"
  s_ColorDlgGreen, "Verde :"
  s_ColorDlgBlue, "Blu :"
  s_ColorDlgDecimal, "Decimali - "
  s_ColorDlgHex, "Esadecimali - "  
  
  // Frame adapter
  s_FrameAdapterError1, "L'adattatore TsFrameAdapter deve essere inserito nel Frame gestito";

  // Hint designer
  s_HintDsgnTitle, "Forma del Disegnatore dei Suggerimenti"
  s_HintDsgnPreserved, "Settaggi conservati :"
  s_HintDsgnStyle, "Stile :"
  s_HintDsgnBevelWidth, "Larghezza del Bevel"
  s_Blur, "Sfuocatura"
  s_HintDsgnArrowLength, "Lungh. freccia"
  s_HintDsgnHorizMargin, "Marg. orizz."
  s_HintDsgnVertMargin, "Marg. vert."
  s_HintDsgnRadius, "Raggio Angolo"
  s_HintDsgnMaxWidth, "Mass. largh."
  s_HintDsgnPauseHide, "Pausa nasc. (ms)"
  s_Percent, "Perc."
  s_HintDsgnOffset, "Offset"
  s_HintDsgnTransparency, "Transparenza(%)"
  s_HintDsgnNoPicture, "Nessuna immagine disponibile"
  s_Font, "Font"
  s_Texture, "Trama"
  s_HintDsgnLoad, "Carica da file"
  s_HintDsgnSave, "Salva con nome..."
  s_HintDsgnColor, "Colore"
  s_HintDsgnBorderTop, "Bordo superiore"
  s_HintDsgnBorderBottom, "Bordo inferiore"
  s_Shadow, "Ombreggiatura"
  s_Background, "Sottofondo"
  s_Gradient, "Contrasto"
  s_PreviewHint, "Anteprima della finestra di suggerimento"

  // File dialogs
  s_Folder, "Cartella"
  s_FileName, "Nome file"
  s_FileType, "Tipo file"
  s_ReadOnly, "Solo lettura"
  s_ViewStyleList, "Lista"
  s_ViewStyleReport, "Satmpa"
  s_ViewStyleIcons, "Icone"
  s_ViewStyleSmallIcons, "Icone piccole"
  s_OpenFile, "Apri"
  s_SaveFile, "SalvA"
  s_BtnOpen, "Apri"
  s_BtnSave, "Salva"
  s_SelectDir, "Seleziona cartella"
  s_Create, "Crea"


}
